body {
    background-color: #FFFFFF;
    color: #000;
    margin: 2em;
}
body {
    font-size: 18px;
    line-height: 22px;
    font-family: "Helvetica", "Arial", sans-serif;
}
code {
    color: #999;
    line-height: 1.0em;
    font-family: "Consolas", "Lucida Console", "Droid Sans Mono", "Andale Mono", "Monaco", "Lucida Sans Typewriter";
}
pre {
    background: #efefef;
    border: 1px solid #ccc;
    padding: 0.5em;
}
.block {
    font-size: 18px !important;
    font-family: "Helvetica", "Arial", sans-serif !important;
}